@import '../../../styles/variables';

.MerchantDashboard {
    display: block;
    background: rgba(255, 255, 255, 0.445);
    .booth-image {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
    }
    .merchant-jumbo {
        background: none;
        .image-container {
            .profile-image {
                max-width: 100%;
                height: auto;
            }
        }
    }
}