.MerchantDashboard {
    display: block;
    .booth-image {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
    }
    .merchant-jumbo {
        .image-container {
            .profile-image {
                max-width: 610px;
                max-height: 370px;
                width: auto;
                height: auto;
            }
        }
    }
    .booth {
        display: block;
        min-height: 500px;
        .good-container {
            position: absolute;
            top: 0px;
            left: 0px;
            background: rgba(255, 255, 255, 0.671);
        }
    }
}