.GoodCard {
    display: block;
    margin: 10px 0;
    height: auto;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

// .good-info {
//     font-size: 30px;
// }