@import '../../../styles/variables';

.GoodCard {
    display: block;
    margin: 10px 0;
    .card-main {
        .good-image {
            height: auto;
        }
    }
}

.GoodCard:hover {
    .card-main {
        @include product-hover-effect;
    }
}